.main-container h2 {
    font-size: 2em;
    color: rgb(149, 10, 10);
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    p {
      font-size: 2em;
      color: rgb(149, 10, 10);
      margin-bottom: 15px;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .grid-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    img {
      width: 100%;
      height: auto;
      max-height: 200px;
      object-fit: cover;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 16px;
      color: #333;
    }
  }
