  
@media (min-width: 1200px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .header-container {
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .nav-container ul {
      flex-direction: column;
      li {
        margin-bottom: 10px;
      }
    }
  
    .header-container h1 {
      font-size: 1.5rem;
    }
  
    .logo img {
      max-width: 80px;
    }
  }
  
  @media (max-width: 480px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  
    .header-container {
      flex-direction: column;
  
      h1 {
        font-size: 1.2rem;
      }
    }
  
    .nav-container ul {
      flex-direction: column;
      align-items: center;
    }
  
    .aside-container {
      text-align: center;
    }
  }
  
  
  
  